{{#each this}}
<a class="gallery-link" href="{{largeImageURL}}">
  <div class="photo-card">
    <img class="photo-card_image" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
      <div class="stats">
        <p class="stats-item"><b>Likes</b>{{likes}}</p>
        <p class="stats-item"><b>Views</b>{{views}}</p>
        <p class="stats-item"><b>Comments</b>{{comments}}</p>
        <p class="stats-item"><b>Downloads</b>{{downloads}}</p>
      </div>
  </div>
</a>
{{/each}}